<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

        <!-- Navigation -->
        <% include ./partials/navbar.ejs %>

        <!-- Page Content -->
        <main class="container">

        <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">About Us</h1>
                <p class="lead">Bloccit is the greatest. It will change your life.</p>
                <a href="#" class="btn btn-primary btn-lg">Sign up</a>
            </header>

            <!-- Page Features -->
            <section class="row text-center">

                <section class="col-lg-4">
                    <h4 class="card-title">Popular</h4>
                    <p class="card-text">Bloccit will make you popular.</p>
                </section>

                <section class="col-lg-4">
                    <h4 class="card-title">Dreams</h4>
                    <p class="card-text">All your wildest dreams will come true with Bloccit!</p>
                </section>

                <section class="col-lg-4">
                    <h4 class="card-title">Stay Informed</h4>
                    <p class="card-text">See the most active topics as well as trending subjects every day!</p>
                </section>

            </section>
            <!-- /.row -->

        </main>
        <!-- /.container -->

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>